name: Homebrew Bump

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3,15 * * *" # daily at 03:00 and 15:00 UTC

jobs:
  bump:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Configure git
        uses: Homebrew/actions/git-user-config@main

      - name: Checkout homebrew-core
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: Homebrew/homebrew-core
          path: homebrew-core
          fetch-depth: 1
          sparse-checkout: |
            Formula/

      - name: Move homebrew-core to tap directory
        run: |
          BREW_REPO="$(brew --repo)"
          CORE_TAP="$BREW_REPO/Library/Taps/homebrew/homebrew-core"

          mkdir -p "$(dirname "$CORE_TAP")"
          rm -rf "$CORE_TAP"
          mv homebrew-core "$CORE_TAP"

      - name: Bump packages
        env:
          HOMEBREW_DEVELOPER: 1
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          brew bump --tap ${{ github.repository }} --open-pr --no-fork
